.app-div {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.task {
    list-style-type: none;
    background: rgb(0, 110, 28);
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}
.task p {
    max-width: 200px;
    overflow-wrap: break-word;
}
.delete-button {
    background: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background: darkred;
}

.complete-button {
    background: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.completed .complete-button {
    pointer-events: none;
    background: rgb(151, 151, 151);
}

.completed {
    background-color: rgb(75, 75, 75);
}

.complete-button:hover {
    background: darkgreen;
}

/* Add some basic styling to the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

input[type="text"],
select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.add_task {
    width: 100%;
    height: 40px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add_task:hover {
    background-color: #3e8e41;
}
.to-do-list-div {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.shop_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.shop_item .shop_buy {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop_item .shop_buy:hover {
    background-color: #3e8e41;
}

.progress-bar-container {
    width: 30rem;
    height: 1.5rem;
    background: lightgrey;
    border-radius: 20px;
}
.progress-bar {
    height: 100%;
    background: rgb(0, 212, 53);
}
